@font-face {
  font-weight: 100;
  font-family: Pretendard;
  font-style: normal;
  src: url("./Pretendard-Thin.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 200;
  font-family: Pretendard;
  font-style: normal;
  src: url("./Pretendard-ExtraLight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: Pretendard;
  font-style: normal;
  src: url("./Pretendard-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: Pretendard;
  font-style: normal;
  src: url("./Pretendard-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Pretendard;
  font-style: normal;
  src: url("./Pretendard-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Pretendard;
  font-style: normal;
  src: url("./Pretendard-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: Pretendard;
  font-style: normal;
  src: url("./Pretendard-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: Pretendard;
  font-style: normal;
  src: url("./Pretendard-ExtraBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: Pretendard;
  font-style: normal;
  src: url("./Pretendard-Black.woff") format("woff");
  font-display: swap;
}
